# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Firmware / Build files
*.bin
*.elf
build/
dist/

# Temporary or backup files
*.bak
*.tmp
*.zip

# Local-only configs
.env
config.local.json
